$base_color: #fff;
$main_color: rgb(130, 213, 251);
$accent_color: #FAC382;


form {
  width: 100%;
}

#button {
  padding: 2px 0 15px 0;
}

.contact {
  padding: 0 80px;
}

.submit_btn {
  background-color: $main_color;
  border-color: $main_color;
  width: 200px;

}

.submit_btn:hover {
  background-color: $main_color;
  border-color: $main_color;
  opacity: 0.8;
}

footer {
  width: 100%;
  height: 120px;
  padding: 45px 0;
  text-align: center;
  background-color: #64737A;
}


.badge {
  color: $accent_color;
}

.contact {
  margin-top: 20px;
  padding: 20px;
}

