.thanks {
  background-color: $main_color;
  border-radius: 20px;
}

.thanks_head {
  color: $base_color;
  padding: 20px;
}
.thankyou {
  color: $base_color;
  text-align: center;
  font-size: 20px;
}