@charset "utf-8";

@import "head";
@import "foot";
@import "contact";
@import "skill";
@import "index";
// * は全体指定
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // font-family: 'Noto Sans JP', sans-serif;
    // 文字間の調整
  letter-spacing: .8px;
  // 行間の調整
  line-height: 2.3;
}

h2 {
  padding: 20px;
}