@charset "utf-8";
@import "head";
@import "contact";
@import "skill";
@import "about";
@import "works";

// レスポンシブ設定
@import "sp";

@import "confirm";
@import "thanks";

// 変数定義
$base_color: #fff;
$main_color: rgb(130, 213, 251);
$accent_color:#FAC382;
// * は全体指定

// カラーサンプル
// #ADAA51 濃いグレー
// #64737A 薄いグレー



*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // 行間の調整
  letter-spacing: .8px;
  // 行の高さを調整
  line-height: 2.3;
}

h2 {
  margin: 60px;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  text-align: center;
}

.head {
  text-align: center;
}

a {
  letter-spacing: .8px;
  line-height: 2.3;
}

p {
  font-size: 17px;
  line-height: 40px;
  letter-spacing: .8px;
  line-height: 2.3;
}

.father {
  text-align: center;
}

.scroll-top {
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 100;
  background-color: #ddd;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  line-height: 50px;
  text-align: center;
}

.scroll-top:hover {
  cursor: pointer;
  opacity: 0.7;
}

.scroll-top {
  opacity: 0;
  transition: opacity 350ms ease;
}